<div class="home-text text-center">	
	<div class="form-type-element text-center">
		<div class="label">Email</div>
		<div class="item big-text">info@adityaiyengaryoga.com</div>
	</div>
	<div class="form-type-element text-center">
		<div class="label">Mobile</div>
		<div class="item big-text">+91-9845615277</div>
	</div>
	<div class="form-type-element text-center">
		<div class="label">Location</div>
		<div class="item big-text">1st main road,Prashanth Nagar, Nagarbhavi main road, Vijayanagar, Bengaluru- 560040</div>
	</div>

	<hr class="contact-separator"/>
	<div class="form-type-element text-center">
		<div class="label">Your Email</div>
		<div class="item"><input type="textbox" id="sugMail"></div>
	</div>
	<div class="form-type-element text-center">
		<div class="label">Suggestion/query</div>
		<div class="item"><textarea id="sugBody"></textarea></div>
	</div>
	<div class="form-type-element text-center">
		<div class="label"></div>
		<div class="item btn"><input type="button" value="Suggest" id="sugMail"></div>
	</div>
</div>