<div class="home-text text-center">
	Contact Info:
	<div class="form-type-element text-center">
		<div class="label">Email</div>
		<div class="item">info@adityaiyengaryoga.com</div>
	</div>
	<div class="form-type-element text-center">
		<div class="label">Mobile</div>
		<div class="item">+91-9845615277</div>
	</div>
	<div class="form-type-element text-center">
		<div class="label">Location</div>
		<div class="item">1st main road,Prashanth Nagar, Nagarbhavi main road, Vijayanagar, Bengaluru- 560040</div>
	</div>

	<hr/>
	<div>
		Kindly enter your email and send your suggestions/queries.
	</div>
	<div class="form-type-element text-center">
		<div class="label">Your Email</div>
		<div class="item"><input type="textbox" id="sugMail"></div>
	</div>
	<div class="form-type-element text-center">
		<div class="label">Suggestion/query</div>
		<div class="item"><textarea id="sugBody"></textarea></div>
	</div>
	<div class="form-type-element text-center">
		<div class="label"></div>
		<div class="item btn"><input type="button" value="Suggest" id="sugMail"></div>
	</div>
</div>