<div class="home-text">
	<div class="saying text-center">Yoga is based on one simple truth - <span class="italics">"mastery of the body is gateway to mastery of the mind". </span></div>
	<div class="text-center">
		Aditya Institute of Iyengar Yoga has devised a unique physical evaluation process of the student when they are initiated into yoga by identifying the general weaknesses specific to them. This has been achieved through years of exhaustive experience and a comprehensive knowledge of the effects of the modern lifestyle.
	</div>
	<h2 class="text-center">Why Us?</h2>
	<div>
		We
		<ul>
			<li>
				Focus on individual students to help them towards a physically confortable and mentally 
				confident identity
	  		</li>
	  		<li>
	  			Use uniquely designed props and techniques to suit modern needs of the human body.
	  		</li>
	  		<li>
	  			Offer not just regular classes but unique and specialized classes.
	  		</li>
	  		<li>
	  			Provide flexible timings especially for housewives
	  		</li>
	  		<li>
	  			Provide Special therapy programmes
	  		</li>
		</ul>
	</div>
</div>