<div class="home-text">	
	<img src="assets/res/aiyGuruji.jpg" class="round-profile round" />
	<br/>
	<div>
		 <span class="bold">Guruji i.e. Bellur Krishnamachar Sundararaja (BKS) Iyengar</span> was born in a humble hamlet "Bellur" of Kolar district, Karnataka in South India in the year 1918. Through the blessings of his guru, T Krishnamacharya and immense dedication to the yogic way of life, he achieved the peaks of awareness that he set out to reach and also give direction to millions of lives that sought him to enable them to walk in to te universe of yoga.
	</div>
	<br/>	
	<div>
		The iyengar method of yoga is known for its:
		<dl>
			<dt>Technique</dt>
			<dd>Fine and subtle adjustments to the postures to increase awareness.</dd>
			<dt>Sequence</dt>
			<dd>Order of the asanas to heighten the mental and emotional effects of the practice</dd>
			<dt>Timing</dt>
			<dd>Postures should not be done swiftly without awareness. It takes time to intensify the depth of the posture and to extract its benefits</dd>
		</dl>
	</div>	
</div>
