<div class="home-text text-center">	
	<img src="assets/res/aiyTeacher.jpg" class="round-profile round" />
	<br/>
	<div>
		<span class="big-text">V Narayan</span>
		<br/><span class="italics">Founder of <span class="bold">Aditya Institute of Iyengar Yoga</span></span>
	</div>	
	<div class="text-justify">			
		V Narayan who has been practicing in the iyengar metod of yoga for 27 years is the faculty at the institute. He has kept the Iyengar method at its purest form and believes that the techniques of this method <span class="bold">provides solution</span> to the ills of the modern world like <span class="bold">stress, bad postures, low immunity, materialistic way of like to name a few</span>. He believes that yoga is the antidote that most humans need to lead a preaceful and satisfying life. This main intention is to <span class="italics">"Lead other people like how his way was led by Guruji in-to the bliss of yoga and the immense satisfaction of being aware of oneself"</span>.
		<br/><br/>
		The institute had a humble start with the blessings of the Guruji and a prayer to Pathanjali in the year 2002. Aditya institute of Iyengar Yoga has devised a unique process of evaluating the physical body of the student when he or she is initiated into yoga and identifying the general weakness that are specific to the student. Focusing on only these weaknesses, help the progress of the student towards a physically more comfortable and a mentally more confident identity. This has been made as a result of years of exhaustive experience and a comprehensive knowledge of the effects of the modern lifestyle.
	</div>	
</div>
